{% load render_bundle from webpack_loader %}

<!doctype html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    </head>
    <body>
      <nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"></a>
    <ul class="right hide-on-med-and-down">
    </ul>

    <ul id="nav-mobile" class="side-nav">
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Rencontres Django 2016 - Rennes</h1>
    <div class="row center">
      <div id="application-react"> </div>
    </div>
  </div>
  <br><br>
</div>

<footer class="page-footer orange">
  <div class="footer-copyright">
    <div class="container">
    Rencontres Django Rennes 2016
    </div>
  </div>
</footer>

{% render_bundle 'rencontres' %}
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    </body>
</html>
